@model IEnumerable<Aburrimiento.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Alumno</h1>

<p>
    <a asp-action="Create">Crear nuevo Alumno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoSalud)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoSalud)
            </td>
            <td>
               [ <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> ] | [
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> ] | [
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> ]
            </td>
        </tr>
}
    </tbody>
</table>
